#background{
    -fx-background-image: url("../sources/highscore-background.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 800 600 cover;
    -fx-background-position: center center;
}
#titleLabel{
    -fx-text-fill: white;
    -fx-font-family: Impact;
    -fx-font-weight: bold;
    -fx-font-size: 64;
}
#returnButton{
    -fx-background-color: lightgray;
    -fx-text-fill: black;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-radius: 4px ;
}
#returnButton:hover{
    -fx-background-color: darkgrey;
    -fx-text-fill: white;
    -fx-border-color: white;
}
#labels{
    -fx-text-fill: white;
    -fx-font-family: "Lucida Console";
    -fx-font-weight: bold;
    -fx-font-size: 32;
}
#vbox{
    -fx-background-color:black ;
}