#background{
    -fx-background-image: url("../sources/settings-background.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 800 600 cover;
    -fx-background-position: center center;
}
#buttons{
    -fx-background-color: lightgray;
    -fx-text-fill: black;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-radius: 4px ;
}
#buttons:hover{
    -fx-background-color: darkgrey;
    -fx-text-fill: white;
    -fx-border-color: white;
}