#background{
    -fx-background-image: url("../sources/levelthree-background-light.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 800 600 cover;
    -fx-background-position: center center;
}
#scoreLabels{
    -fx-text-fill: black;
    -fx-font-family: Verdana;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}
#buttons{
    -fx-background-color: lightgray;
    -fx-text-fill: black;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-radius: 4px ;
}
#buttons:hover{
    -fx-background-color: darkgrey;
    -fx-text-fill: white;
    -fx-border-color: white;
}